/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
  position: relative;
}

.rdtPicker {
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
}

.rdtPicker th,
.rdtPicker tfoot td {
  line-height: 1.5;
}

.rdtDay,
.rdtMonth,
.rdtYear,
.rdtPrev,
.rdtNext,
.rdtSwitch {
  cursor: pointer;
}

.rdtDay:hover,
.rdtMonth:hover,
.rdtYear:hover,
.rdtPrev:hover,
.rdtNext:hover,
.rdtSwitch:hover {
  background: #eee;
}

.rdtDay {
  height: 28px;
}

.rdtDoW,
.rdtMonth,
.rdtSwitch {
  text-transform: capitalize;
}

.rdtMonth,
.rdtYear {
  height: 50px;
  width: 25%;
}

.rdtOld,
.rdtNew {
  color: #999;
}

.rdtActive,
.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdtToday {
  position: relative;
}

.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtToday.rdtActive:before {
  border-bottom-color: #fff;
}

.rdtDisabled,
.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}

.rdtPicker thead tr:first-of-type th {
  border-bottom: 1px solid #f9f9f9;
}

.rdtPicker tfoot td {
  border-top: 1px solid #f9f9f9;
  font-weight: bold;
}

.rdtPrev,
.rdtNext,
.rdtDoW {
  width: 14.2857%;
}

.rdtPicker button {
  border: none;
  background: none;
}

.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker button:focus {
  outline: none;
}

.rdtCounters {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

.rdtCounter button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
}

.rdtCounter .rdtCount {
  width: 40px;
  height: 20px;
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
}

.rdtCounter input {
  width: 40px;
  margin: 0 8px;
  font-size: 1.2em;
  text-align: right;
}

.rdtCounterSeparator {
  font-weight: bold;
  font-size: 1.2em;
}
