/*!
 * https://github.com/arqex/react-datetime
 */

.rdt {
	position: relative;
}
.rdtPicker {
	display: none;
	position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
	display: block;
}
.rdtStatic .rdtPicker {
	box-shadow: none;
	position: static;
}

.rdtPicker .timeToggle {
	text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td.day:hover,
.rdtPicker td.hour:hover,
.rdtPicker td.minute:hover,
.rdtPicker td.second:hover,
.rdtPicker .timeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.old,
.rdtPicker td.new {
  color: #999999;
}
.rdtPicker td.today {
  position: relative;
}
.rdtPicker td.today:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.active,
.rdtPicker td.active:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.active.today:before {
  border-bottom-color: #fff;
}
.rdtPicker td.disabled,
.rdtPicker td.disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.old {
  color: #999999;
}
.rdtPicker td span.disabled,
.rdtPicker td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
	border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.switch {
  width: 100px;
}
.rdtPicker th.next,
.rdtPicker th.prev {
  font-size: 21px;
  vertical-align: top;
}
.rdtPicker th.disabled,
.rdtPicker th.disabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot{
	border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
	border: none;
	background: none;
	cursor: pointer;
}
.rdtPicker button:hover {
	background-color: #eee;
}

.rdtPicker thead button {
	width: 100%;
	height: 100%;
}

td.month,
td.year {
	height: 50px;
	width: 25%;
	cursor: pointer;
}
td.month:hover,
td.year:hover {
	background: #eee;
}

.rdtCounters {
	display: inline-block;
}

.rdtCounters > div{
	float: left;
}

.rdtCounter {
	height: 100px;
}

.rdtCounter {
	width: 40px;
}

.rdtCounterSeparator {
	line-height: 100px;
}

.rdtCounter .btn {
	height: 40%;
  	line-height: 40px;
  	cursor: pointer;
}
.rdtCounter .btn:hover {
	background: #eee;
}
.rdtCounter .rdtCount {
	height: 20%;
	font-size: 1.2em;
}

.rdtMilli {
	vertical-align: middle;
	padding-left: 8px;
	width: 48px;
}

.rdtMilli input {
	width: 100%;
	font-size: 1.2em;
	margin-top: 37px;
}
