{
  "branches": [
    "master",
    "next"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "docs",
            "scope": "README",
            "release": "patch"
          },
          {
            "type": "chore",
            "scope": "deps",
            "release": "patch"
          },
          {
            "type": "chore",
            "scope": "deps-dev",
            "release": "patch"
          },
          {
            "type": "build",
            "scope": "deps",
            "release": "patch"
          },
          {
            "type": "build",
            "scope": "deps-dev",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    "@semantic-release/release-notes-generator"
  ]
}
