language: node_js
sudo: false
os:
  - linux
  - windows
node_js:
  - '5'
  - '6'
  - 'stable'
script:
  - npm run lint
  - npm run test:all
cache:
  directories:
    - node_modules
before_install:
- export TZ=Europe/Stockholm
